
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to right, rgb(242,123,89),rgb(200,212,076));
}

#main{
    min-height: 100vh;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#addbtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: green;
    border:0;
    padding: 10px 20px;
    color: aliceblue;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#addbtn:hover{
    background-color: rgb(123, 171, 74);
}

.note{
    background: transparent;
    margin: 15px;
    border-radius: 10px;
    overflow: hidden;
}

.tool{
    background-color: rgb(26, 19, 19);
    color: rgb(214, 217, 219);
    padding: 5px;
    display: flex;
    justify-content: right;
}


.tool i{
    padding: 5px;
    cursor: pointer;
    transition: color 0.5s ease;
   
}

.tool i:hover{
    color: rosybrown;
}

.note textarea{
    width: 300px;
    border: none;
    border-radius: 0px 0px 10px 10px;
    min-height: 220px;
    resize: none;
    padding: 10px;
    overflow: hidden;
    font-size: 16px;
    color: aliceblue;
    background-color: bisque;
    transition: background-color 0.5s ease;
}

.note textarea:hover{
    background-color: rgb(105, 173, 173);
}

.note textarea:focus{
    outline: none;
}





















